.code .activity-bar {
  background: var(--workbench-activitybar-background);
  height: 100%;
  min-width: 45px;
}

.code .activity-bar.left {
  border-right: 1px solid var(--workbench-border-foreground);
}

.code .activity-bar.right {
  border-left: 1px solid var(--workbench-border-foreground);
}
