.context-menu {
  background: var(--workbench-titlebar-menu-background);
  border: 1px solid var(--workbench-border-foreground);
  border-radius: 6px;
  min-width: 400px;
  z-index: 1000;
  padding: 6px;
}

.context-menu span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 12px;
  border-radius: 6px;
  position: relative;
  width: 100%;
  height: 90%;
  font-size: 15px;
}

.context-menu span.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.context-menu .separator {
  cursor: default;
  height: 2px;
  margin: 5px 0;
  width: 95%;
  justify-self: center;
  background: var(--workbench-border-foreground);
}

.context-menu span:not(.separator):hover {
  cursor: pointer;
  background: var(--workbench-hover-background);
}
