.dev-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  overflow: hidden;
}

.dev-panel .content {
  height: 100%;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  overflow: hidden;
}

.dev-panel .splitter-horizontal {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

.dev-panel .panel.vertical {
  display: flex !important;
  align-items: center;
  justify-content: space-between !important;
  width: 100% !important;
  height: 50px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  overflow: hidden;
}

.dev-panel .panel.vertical .tabs .tab {
  width: max-content !important;
  padding: 3px 12px !important;
  border-radius: 6px !important;
}

.dev-panel .panel.vertical .tabs .tab:not(.active):hover {
  background: var(--workbench-tabs-hover-background);
  color: var(--workbench-tabs-hover-foreground);
}

.dev-panel .panel.vertical .tabs .tab .name {
  margin: 0 !important;
}

.dev-panel .panel.vertical .tabs .tab .name {
  font-size: 16px;
}

.dev-panel .panel.vertical .options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.dev-panel .panel.vertical .options span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
}

.dev-panel .panel.vertical .options span:hover {
  background: var(--workbench-titlebar-item-hover-background);
}

.dev-panel .panel.vertical .options span svg {
  width: 20px;
  height: auto;
}

.dev-panel .content {
  height: calc(100% - 50px);
  overflow: hidden;
}

.dev-panel .content-tabs {
  height: 100%;
  background: var(--workbench-panel-background);
  overflow: hidden;
}

.dev-panel .content-tabs {
  container-type: inline-size;
}

.dev-panel .tabs.vertical .tab {
  border-radius: none !important;
}

@container (max-width: 200px) {
  .tabs.vertical .tab .name,
  .tabs.vertical .tab .close-icon {
    display: none;
  }
}

.dev-panel .content-tabs .tab .close-icon svg {
  width: 20px !important;
  height: auto;
}
