.code .extensions {
  height: 100%;
}

.code .extensions .search {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  background: var(--workbench-input-background);
  border: 1px solid var(--workbench-input-border-foreground);
  width: 90%;
  height: 30px;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px 0;
  gap: 6px;
}

.code .extensions .search input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: transparent;
  border: none;
  background: transparent;
  font-size: 16px;
  color: var(--workbench-input-foreground);
  padding: 10px 10px;
}

.code .extensions .search:focus-within {
  box-shadow: 0 0 2px 2px var(--workbench-input-active-outline);
}

.code .extensions .search input:focus {
  outline: none;
}

.code .extensions .search span {
  padding: 0px 4px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
  overflow: visible !important;
  text-overflow: unset !important;
  white-space: unset !important;
}

.code .extensions .search span:hover {
  background: var(--workbench-hover-background);
}

.code .extensions .search span svg {
  width: 20px;
  height: auto;
}

.code .extensions .tree {
  position: relative;
  height: 100%;
}

.code .extensions .tree .extension {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  cursor: pointer;
}

.code .extensions .tree .extension:hover {
  background: var(--workbench-hover-background);
}

.code .extensions .tree .extension .icon svg {
  display: flex;
  width: 40px;
  height: auto;
}

.code .extensions .tree .extension .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
}

.code .extensions .tree .extension .content span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.code .extensions .tree .extension .content .name {
  font-size: 18px;
}

.code .extensions .tree .extension .content .description {
  font-size: 14px;
  color: var(--workbench-secondary-foreground);
}

.code .extensions .tree .extension .content .author {
  font-size: 15px;
  font-weight: bold;
}
