.code .files {
  height: 100%;
}

.code .empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.code .empty-state .open-folder {
  width: 80%;
  padding: 8px 0;
  border-radius: 6px;
  border: 1px solid var(--workbench-border-foreground);
  background: none;
  color: var(--workbench-secondary-button-foreground);
  cursor: pointer;
  margin-bottom: 8px;
}

.code .empty-state .open-folder:hover,
.hovered {
  background: var(--workbench-hover-background);
}

.code .empty-state p {
  text-wrap: wrap;
  text-align: center;
}

.code .tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.code .root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  max-height: 40px;
  width: 100%;
  align-self: center;
}

.code .root .title {
  font-size: 16px;
  margin-left: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.code .root .options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-right: 12px;
}

.code .root .options span {
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.code .root .options span:hover {
  background: var(--workbench-hover-background);
}

.code .root .options span svg {
  width: 20px;
  height: auto;
}

.code .tree-container {
  height: calc(100% - 40px);
}

.code .tree .node,
.code .tree .child-nodes {
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
}

.code .tree .node {
  display: flex;
  align-items: center;
  padding: 4px 0;
  font-size: 16px;
  align-self: center;
  cursor: pointer;
  position: relative;
  overflow: visible;
  z-index: 99;
  width: 100%;
  box-sizing: border-box;
}

.code .tree .child-nodes {
  display: flex;
  flex-direction: column;
  transition:
    height 0.25s ease,
    opacity 0.25s ease,
    visibility 0.25s ease;
  overflow-x: visible;
  overflow-y: hidden;
}

.code .tree .child-nodes:not(.expanded) {
  height: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.code .tree .child-nodes.expanded {
  height: auto;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.code .tree .node:hover {
  background: var(--workbench-hover-background);
}

.code .tree .node .icon,
.code .tree .node .name {
  position: relative;
  z-index: 1;
}

.code .tree .node .icon {
  margin: 0 3px;
  margin-left: 10px;
  flex-shrink: 0;
  width: 20px;
  transition: transform 0.2s ease;
}

.code .tree .node .icon.expanded {
  transform: rotate(90deg);
}

.code .tree .node .icon svg {
  display: flex;
  width: 17px;
  height: auto;
}

.code .tree .node .icon.toggle svg {
  width: 18px !important;
}

.code .tree .node .name {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.code .tree .child-nodes.transitioning {
  pointer-events: none;
  visibility: visible;
}

.code .tree .child-nodes:not(.expanded) * {
  pointer-events: none;
}

.code .tree .child-nodes.expanded * {
  pointer-events: auto;
}

.code .tree .child-nodes.expanded .node {
  pointer-events: auto;
}

.code .tree .child-nodes.expanded .node .icon,
.code .tree .child-nodes.expanded .node .name {
  pointer-events: auto;
}

.code .tree .node.rename:hover::before {
  background: none !important;
}

.code .tree .node .temp-node {
  display: flex;
  align-items: center;
}

.code .tree .node.active {
  background: var(--workbench-tabs-active-background);
  color: var(--workbench-tabs-active-foreground);
}

.code .tree .node {
  color: var(--workbench-files-default-foreground);
}

.code .tree .node.untracked {
  color: var(--workbench-files-untracked-foreground);
}

.code .tree .node.modified {
  color: var(--workbench-files-modified-foreground);
}

.code .tree .node.ignored {
  color: var(--workbench-ignored-untracked-foreground);
}

.code .tree .node.error {
  color: var(--workbench-error-untracked-foreground);
}

.code .tree .node .icon.toggle svg path {
  stroke: var(--workbench-files-icon-foreground);
}

.code .tree .temp-node span svg {
  width: 18px;
  height: auto;
}

.code .tree .inline-editor-input {
  width: 100%;
  background: none;
  color: var(--workbench-panel-foreground);
  font-size: 16px;
  border: none;
  margin: 0;
  padding: 0 5px;
}

.code .tree .inline-editor-input:focus {
  outline: 1px solid var(--workbench-border-foreground);
}
