@font-face {
  font-family: "Jetbrains Mono";
  src: url("../media/fonts/JetBrainsMono.ttf");
}

@font-face {
  font-display: block;
  font-family: "codicon";
  src: url("../media/fonts/codicon.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code";
  src: url("../media/fonts/FiraCode.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../media/fonts/Inter.otf");
}

@font-face {
  font-family: "Inconsolata";
  src: url("../media/fonts/DroidSans.ttf");
}

@font-face {
  font-family: "CalSans";
  src: url("../media/fonts/CalSans.ttf");
}

@font-face {
  font-family: "Zwo Web";
  src: url("../media/fonts/ZwoWeb.ttf");
}

@font-face {
  font-family: "Figtree";
  src: url("../media/fonts/Figtree-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Figtree";
  src: url("../media/fonts/Figtree-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Figtree";
  src: url("../media/fonts/Figtree-Bold.ttf");
  font-weight: 800;
}
