@font-face {
  font-display: block;
  font-family: "codicon";
  src: url("../media/fonts/codicon.ttf") format("truetype");
}

@font-face {
  font-family: "AtkinsonHyperlegible";
  src: url("../media/fonts/AtkinsonHyperlegible-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../media/fonts/Inter-Regular.otf");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("../media/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url("../media/fonts/Inter-SemiBold.otf");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../media/fonts/JetBrainsMono-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../media/fonts/JetBrainsMono-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../media/fonts/JetBrainsMono-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../media/fonts/JetBrainsMono-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../media/fonts/JetBrainsMono-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../media/fonts/JetBrainsMono-Bold.ttf");
  font-weight: 700;
}
