.new-project {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70vw;
  height: 90vh;
  flex-direction: column;
  background: color-mix(
    in srgb,
    var(--workbench-panel-background) 98%,
    white 2%
  );
  z-index: 50;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  overflow: hidden;
}

.new-project:focus {
  outline: none;
}

.new-project .titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  color: var(--workbench-titlebar-foreground);
  border-bottom: 1px solid var(--workbench-border-foreground);
  padding: 0 10px;
}

.new-project .titlebar .close-icon svg {
  width: 20px;
  height: auto;
}

.new-project .titlebar .close-icon {
  padding: 2px;
  cursor: pointer;
  border-radius: 4px;
}

.new-project .titlebar .close-icon:hover {
  background: var(--workbench-secondary-button-hover-background);
}

.new-project .sidebar {
  position: relative;
}

.new-project .sidebar-tree {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 0;
}

.new-project .sidebar-tree .tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.new-project .sidebar-tree .tree .node,
.new-project .sidebar-tree .tree .child-nodes {
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
}

.new-project .sidebar-tree .tree .node-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}

.new-project .sidebar-tree .tree .node {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-size: 16px;
  align-self: center;
  cursor: pointer;
  position: relative;
  overflow: visible;
  color: var(--workbench-panel-foreground);
  border-radius: 6px;
  width: 96%;
}

.new-project .sidebar-tree .tree .child-nodes {
  display: flex;
  flex-direction: column;
  transition: height 0.25s ease, opacity 0.25s ease, visibility 0.25s ease;
  overflow-x: visible;
  overflow-y: hidden;
}

.new-project .sidebar-tree .tree .child-nodes:not(.expanded) {
  height: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.new-project .sidebar-tree .tree .child-nodes.expanded {
  height: auto;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.new-project .sidebar-tree .tree .node:hover {
  background: var(--workbench-hover-background);
}

.new-project .sidebar-tree .tree .node .icon,
.new-project .sidebar-tree .tree .node .name {
  position: relative;
  z-index: 1;
}

.new-project .sidebar-tree .tree .node .icon {
  margin: 0 3px;
  margin-left: 2px;
  flex-shrink: 0;
  width: 20px;
  transition: transform 0.2s ease;
}

.new-project .sidebar-tree .tree .node .icon.expanded {
  transform: rotate(90deg);
}

.new-project .sidebar-tree .tree .node .icon svg {
  display: flex;
  width: 18px;
  height: auto;
}

.new-project .sidebar-tree .tree .node .name {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.new-project .content .template-wrapper {
  position: relative;
  height: 100%;
}

.new-project .content .template-wrapper span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.new-project .content .template-wrapper .titlebar .title-bread-crumb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.new-project .content .template-wrapper .titlebar .title-bread-crumb .crumb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.new-project .content .template-wrapper .titlebar .title-bread-crumb span {
  font-size: 20px;
}

.new-project .content .template-wrapper .titlebar .title-bread-crumb span svg {
  display: flex;
  width: 24px;
  height: auto;
}

.new-project .content .template-wrapper .titlebar .description {
  font-size: 14px;
  color: var(--workbench-secondary-foreground);
}

.new-project .content .template-wrapper .content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  height: 100%;
}

.new-project .content .template-wrapper .content .form .input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--workbench-input-background);
  border: 1px solid var(--workbench-input-border-foreground);
  width: 100%;
  height: 30px;
  border-radius: 8px;
  margin: 10px 0;
  padding: 20px 0;
  gap: 6px;
}

.new-project .content .template-wrapper .content .form .input-wrapper input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: transparent;
  border: none;
  background: transparent;
  font-size: 16px;
  color: var(--workbench-input-foreground);
  padding: 20px 10px;
}

.new-project
  .content
  .template-wrapper
  .content
  .form
  .input-wrapper:focus-within {
  box-shadow: 0 0 2px 2px var(--workbench-input-active-outline);
}

.new-project
  .content
  .template-wrapper
  .content
  .form
  .input-wrapper
  input:focus {
  outline: none;
}

.new-project .content .template-wrapper .content .form .input-wrapper span {
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
  overflow: visible !important;
  text-overflow: unset !important;
  white-space: unset !important;
}

.new-project
  .content
  .template-wrapper
  .content
  .form
  .input-wrapper
  span:hover {
  background: var(--workbench-secondary-button-hover-background);
}

.new-project .content .template-wrapper .content .form .input-wrapper span svg {
  width: 20px;
  height: auto;
}

.new-project .content .template-wrapper .content .form.checkbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.new-project .content .template-wrapper .content .form .checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.new-project .content .template-wrapper .create {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 6px 8px;
  border: 1px solid var(--workbench-border-foreground);
  border-radius: 6px;
  cursor: pointer;
}

.new-project .content .template-wrapper .create:hover {
  background: var(--workbench-secondary-button-hover-background);
}
