.code .panel:not(.split-panel):not(.command-panel) {
  background: var(--workbench-panel-background);
}

.code .panel.split-panel {
  background: transparent;
}

.left-panel-options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  gap: 8px;
  margin-top: 5px;
  overflow: hidden;
}

.left-panel-options .panel-option {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px 5px;
  border-radius: 9px;
}

.left-panel-options .panel-option.active {
  opacity: 1;
  background: var(--workbench-activitybar-active-background);
}

.left-panel-options .panel-option svg {
  width: 25px;
  height: auto;
}

.code .left-panel-options .panel-option:not(.active) {
  opacity: 0.4;
}

.code .left-panel-options .panel-option:not(.active):hover {
  background: var(--workbench-activitybar-hover-background);
  opacity: 0.8;
}

.code .panel.bottom-panel {
  background: transparent !important;
}

.code .left-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--workbench-panel-background);
  gap: 0px;
  overflow: hidden;
}

.code .left-panel .left-panel-content {
  height: 100%;
  margin: 0 1px;
  overflow: hidden;
}
