.code .statusbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--workbench-statusbar-background);
  color: var(--workbench-statusbar-foreground);
  border-top: 1px solid var(--workbench-border-foreground);
  height: 40px;
  width: 100%;
  padding: 0 10px;
}

.code .statusbar .item-section {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
}

.code .statusbar .item-section span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.code .statusbar .item-section span:hover {
  background: var(--workbench-statusbar-item-hover-background);
}

.code .statusbar .item-section .sub-item-section {
  display: flex;
  align-items: center;
  gap: 6px;
}

.code .statusbar .breadcrumb-container .breadcrumb-item {
  cursor: pointer;
  font-family: "Jetbrains Mono";
  font-size: 17px;
}

.code .statusbar .breadcrumb-container .breadcrumb-item:hover,
.hovered {
  color: var(--workbench-foreground);
}

.code .statusbar .breadcrumb-container .breadcrumb-separator {
  font-size: 18px;
}
