.code .statusbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--workbench-statusbar-foreground);
  height: 40px;
  width: calc(100% - 20px);
  margin: 0 10px;
}

.code .statusbar .item-section {
  height: 40px;
  display: flex;
  align-items: center;
}

.code .statusbar .item-section span {
  padding: 2px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.code .statusbar .item-section span:hover,
.hovered {
  background: var(--workbench-statusbar-item-hover-background);
}

.code .statusbar .breadcrumb-container .breadcrumb-item {
  cursor: pointer;
}

.code .statusbar .breadcrumb-container .breadcrumb-item:hover,
.hovered {
  color: var(--workbench-foreground);
}

.code .statusbar .breadcrumb-container .breadcrumb-separator {
  font-size: 18px;
}
