.code .tabs {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  overscroll-behavior: contain;
  outline: none;
}

.code .tabs.vertical {
  flex-direction: column;
  width: 100%;
  gap: 0;
  padding: 0;
}

.code .tabs.vertical .tab {
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  width: 100%;
  overflow-x: hidden !important;
}

.code .tabs.vertical .tab.active {
  outline: none;
}

.code .tabs.vertical .tab .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.code .tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--workbench-tabs-background);
  color: var(--workbench-tabs-foreground);
  padding: 4px 8px;
  gap: 10px;
  cursor: pointer;
  border-radius: 4px;
  flex-shrink: 0;
  min-width: max-content;
}

.code .tabs .tab svg,
.code .tabs .tab img {
  display: flex;
  width: 20px;
  height: auto;
}

.code .tabs .tab .close-icon svg {
  width: 16px !important;
}

.code .tabs .tab .close-icon svg path {
  fill: var(--workbench-tabs-icon-foreground);
}

.code .tabs .tab .name {
  font-size: 18px;
}

.code .tabs .tab .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  position: relative;
}

.code .tabs .tab .icon-wrapper .close-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.code .tabs .tab .icon-wrapper .close-icon svg {
  width: 19px !important;
}

.code .tabs .tab .icon-wrapper .dot-icon {
  display: none;
  width: 10px;
  height: 10px;
  background: var(--workbench-tabs-icon-foreground);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.code .tabs .tab .icon-wrapper.is_touched .close-icon {
  display: none;
}

.code .tabs .tab .icon-wrapper.is_touched .dot-icon {
  display: block;
}

.code .tabs .tab .icon-wrapper.is_touched:hover .dot-icon {
  display: none;
}

.code .tabs .tab .icon-wrapper.is_touched:hover .close-icon {
  display: block;
}

.code .tabs .tab:not(.active):hover {
  background: var(--workbench-tabs-hover-background);
  color: var(--workbench-tabs-hover-foreground);
}

.code .tabs .tab.active {
  background: var(--workbench-tabs-active-background);
  color: var(--workbench-tabs-active-foreground);
  outline: 2px solid var(--workbench-tabs-active-border-foreground);
  font-weight: 700;
}

.code .tabs .extra {
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: auto;
  background: var(--workbench-tabs-background);
}

.code .tabs .extra span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.code .tabs .extra span:hover {
  background: var(--workbench-tabs-active-background);
  color: var(--workbench-tabs-active-foreground);
}

.code .tabs .extra span svg {
  width: 18px;
  height: auto;
}
