.code .terminal-container {
  position: relative;
  display: flex;
  height: 100%;
}

.code .terminal-container .tabs {
  border-left: 2px solid var(--workbench-background);
}

.code .terminal-container .add {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1000;
  right: 20px;
  top: 5px;
  height: 35px;
  width: 35px;
  background: var(--workbench-secondary-button-background);
  outline: 2px solid var(--workbench-background);
}

.code .terminal-container .add span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code .terminal-container .add:hover {
  background: var(--workbench-hover-background);
}

.code .terminal-container .add svg {
  width: 18px;
  height: auto;
}
