.code .titlebar {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  background: var(--workbench-titlebar-background);
  color: var(--workbench-titlebar-foreground);
  app-region: drag;
}

.code .titlebar .left-panel-section,
.center-panel-section,
.right-panel-section {
  app-region: no-drag;
}

.code .titlebar .left-panel-section {
  display: flex;
  align-items: center;
  height: 100%;
}

.code .titlebar .left-panel-section .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code .titlebar .left-panel-section .logo svg {
  width: 25px;
  height: auto;
}

.code .titlebar .left-panel-section .logo svg path {
  fill: var(--workbench-icon-foreground);
}

.code .titlebar .left-panel-section span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  height: 70%;
  border-radius: 8px;
  cursor: pointer;
}

.code .titlebar .left-panel-section svg {
  width: 24px;
  height: auto;
}

.code .titlebar .left-panel-section .menu-container {
  position: relative;
  margin-left: 12px;
  border-radius: 12px;
}

.code .titlebar .left-panel-section .action {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--workbench-border-foreground);
  height: 20px;
  padding: 0 12px;
  gap: 4px;
}

.code .titlebar .left-panel-section .action span:hover {
  background: var(--workbench-titlebar-item-hover-background);
}

.code .titlebar .hamburger-menu {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  background: var(--workbench-titlebar-menu-background);
  border: 1px solid var(--workbench-border-foreground);
  border-radius: 6px;
  min-width: 200px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  padding: 6px;
}

.code .titlebar .hamburger-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.code .titlebar .hamburger-menu.submenu {
  top: -8px;
  left: calc(100% + 12px);
}

.code .titlebar .hamburger-menu.submenu.show {
  transform: translateX(0);
}

.code .titlebar .hamburger-menu.submenu.level-2 {
  right: calc(-100% - 12px);
}

.code .titlebar .hamburger-menu.submenu.level-2.show {
  transform: translateX(0);
}

.code .titlebar .menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  width: 95%;
  margin: 0 auto;
  height: auto;
  min-height: 32px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 2px;
}

.code .titlebar .menu-item:last-child {
  margin-bottom: 0;
}

.code .titlebar .menu-item:hover,
.hovered {
  background: var(--workbench-titlebar-menu-item-hover-background);
}

.code .titlebar .menu-item.active {
  background: var(--workbench-titlebar-menu-item-active-background) !important;
  color: var(--workbench-titlebar-menu-item-active-foreground) !important;
}

.code .titlebar .menu-item.active:hover,
.hovered {
  background: var(
    --workbench-titlebar-menu-item-active-hover-background
  ) !important;
}

.code .titlebar .menu-item.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.code .titlebar .menu-item .shortcut {
  padding-right: 10px;
}

.code .titlebar .menu-item .shortcut .shortcut-separator svg {
  width: 15px;
  height: auto;
}

.code .titlebar .menu-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border-radius: 6px;
  position: relative;
  width: 100%;
  height: 90%;
}

.code .titlebar .menu-item-content:hover {
  background: var(--workbench-titlebar-menu-item-hover-background);
}

.code .titlebar .menu-item.active > .menu-item-content {
  background: var(--workbench-titlebar-menu-item-hover-background);
}

.code .titlebar .menu-item-icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  flex-shrink: 0;
}

.code .titlebar .menu-item-label {
  color: var(--workbench-titlebar-menu-foreground);
  font-size: 14px;
}

.code .titlebar .menu-item.active .hamburger-menu.submenu {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateX(0) !important;
  width: 50vh;
}

.code .titlebar .menu-item.active .hamburger-menu.submenu.show {
  opacity: 1 !important;
  visibility: visible !important;
}

.code .titlebar .menu-item.active .hamburger-menu.submenu.level-2 {
  transform: translateX(0) !important;
}

.code .titlebar .menu-item.active .menu-item-label {
  color: var(--workbench-titlebar-menu-item-active-foreground) !important;
  font-weight: 500;
}

.code .titlebar .menu-submenu-arrow svg {
  width: 16px;
  height: auto;
}

.code .titlebar .menu-item.active .menu-submenu-arrow svg {
  fill: var(--workbench-titlebar-menu-item-active-foreground) !important;
}

.code .titlebar .menu-separator {
  height: 1px;
  background: var(--workbench-border-foreground);
  margin: 4px auto;
  width: 90%;
}

.code .titlebar .center-panel-section div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--workbench-titlebar-search-background);
  color: var(--workbench-titlebar-search-foreground);
  border-radius: 6px;
  padding: 0 12px;
  border: none;
  height: 30px;
  width: 70vh;
  cursor: pointer;
}

.code .titlebar .center-panel-section div svg {
  width: 22px;
  height: auto;
}

.code .titlebar .center-panel-section div:hover,
.hovered {
  outline: 1px solid var(--workbench-titlebar-search-hover-outline);
}

.code .titlebar .right-panel-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
  margin-right: var(--titlebar-window-controls-inset);
}

.code .titlebar .right-panel-section svg {
  width: 24px;
  height: auto;
}

.code .titlebar .right-panel-section .menu-options-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.code .titlebar .right-panel-section .menu-options-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  height: 70%;
  border-radius: 8px;
  cursor: pointer;
}

.code .titlebar .right-panel-section .menu-options-container span:hover,
.hovered {
  background: var(--workbench-titlebar-item-hover-background);
}
