.tooltip {
  position: fixed;
  padding: 4px 8px;
  font-size: 14px;
  opacity: 0;
  z-index: 2147483647;
  pointer-events: none;
  transition: opacity 0.15s;
  white-space: nowrap;
  display: none;
  color: var(--workbench-panel-foreground);
  background: var(--workbench-panel-background);
  border: 2px solid var(--workbench-border-foreground);
  border-radius: 8px;
}
